################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/x64/Debug
/.vs/LiveSplit-GameBar/v16
*.pfx
*.user
